extends _layout.pug
block locals
  - var title = 'index page';
block content
  h1(class="title") Hello, ボーボボ
  div#react-root
  .main-img
    img.icon(src="../images/sample_img_2.png", alt="サンプル画像2")

