extends _layout.pug
block locals
  - var title = 'index page';
block content
  h1(class="title") Hello, ボーボボ
  img(src="../images/sample_img.jpg", alt="サンプル画像")
  img(src="../images/sample_img_2.png", alt="サンプル画像2")

